@model Rbyte.Application.Tax.Read.ReadTaxModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tax</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit tax", "Edit", new { id = Model.TaxId})
</div>
<div>
    @Html.ActionLink("Back to list", "Index")
</div>