@model Rbyte.Application.Store.Create.CreateStoreModel
@{
    ViewData["Title"] = "Create";
}

<section>
    <h2>Create new store</h2>
</section>
<div class="container">
    <form method="post" asp-action="Create">

        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
        </section>

       @await Html.PartialAsync("_ErrorMessages")

        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>
    </form>
</div>
<div>
    @Html.ActionLink("Back to list", "Index")
</div>