@model Rbyte.Application.Store.Update.UpdateStoreModel
@{
    ViewData["Title"] = "Edit";
}

<section>
    <h2>Edit store</h2>
</section>
<div class="container">
    <form method="post" asp-action="Edit">
        @Html.HiddenFor(x => x.StoreId)
        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Name, new {htmlAttributes = new { @class = "form-control" } })
        </section>

        @if (ViewBag.ErrorMessages != null)
         {
             @foreach (string error in ViewBag.ErrorMessages)
             {
                 <section style="color:red">@error</section>
             }
         }
         
        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>
    </form>
</div>
<div>
    @Html.ActionLink("Back to list", "Index")
</div>