@model Rbyte.Application.Category.CreateCategoryModel
@{
    ViewData["Title"] = "Create";
}

<section>
    <h2>Create new category</h2>
</section>
<div class="container">
    <form method="post" asp-action="Create">

        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <label class="control-label">Description</label>
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
        </section>

        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>

    </form>
</div>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

