// Layout
$side-nav-container-proportion: 25;
$side-nav-container-background-color: #FFEB3B;
$side-nav-item-hover-background-color: #FFEE58;

$main-container-proportion: 75;
$main-container-background-color: #fff;
