// Responsiveness font sizes
$resp-font-size-xs: 0.6rem;
$resp-font-size-sm: 0.8rem;
$resp-font-size-md: 1rem;
$resp-font-size-lg: 1.2rem;
$resp-font-size-xl: 1.4rem;
$resp-font-size-xxl: 2rem;

// App
$side-nav-width:30%;
$router-width:70%;

// SideNav
$side-nav-bg-color: rgb(255, 235, 59);
$side-nav-item-hover-bg-color: #FFEE58;
