@model Rbyte.Application.Discount.CreateDiscountModel
@{
    ViewData["Title"] = "Create";
}

<section>
    <h2>Create discount</h2>
</section>
<div class="container">
    <form method="post" asp-action="Create">

        <section class="row">
            <label class="control-label">Name</label>
            @Html.EditorFor(x => x.Value, new { htmlAttributes = new { @class = "form-control" } })
        </section>
        
        <section  class="row">
             <label class="control-label">Category</label>
             @Html.DropDownListFor(model => model.CategoryId, Model.CategorySelectList, "-- Select category --", new { @class = "form-control" })
         </section>

        <section class="row">
            <button type="submit" class="btn btn-success">Save</button>
        </section>

    </form>
</div>

<div>
    @Html.ActionLink("Back to list", "Index")
</div>

