@if (ViewBag.ErrorMessages != null)
         {
             @foreach (string error in ViewBag.ErrorMessages)
             {
                 <section style="color:red">@error</section>
             }
         }