<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rbyte</title>

    <link rel="stylesheet" href="~/css/rbyte.css" />
</head>
<body>
    <div class="rbyte-container">
        <div class="side-panel-container">


            <a href="" class="side-panel-header">R-byte</a>

            <a href="Product" class="side-panel-item">Products</a>
            <a href="Discount" class="side-panel-item">Discounts</a>

            <div class="side-panel-admin-separator">ADMIN PANEL</div>

            <a href="Product" class="side-panel-item">Products</a>
            <a href="Discount" class="side-panel-item">Discounts</a>
            <a href="Category" class="side-panel-item">Categories</a>
            <a href="Store" class="side-panel-item">Stores</a>
            <a href="Tax" class="side-panel-item">Taxes</a>
        </div>
        <div class="page-container">
            @RenderBody()
        </div>
    </div>
</body>
</html>
