@import '../styles/variables.scss';

.app {
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    &__sideNav {
        min-width: $side-nav-width;
        display: flex;
    }
    &__router {
        min-width: $router-width;
        display: flex;
    }
}