@import '../styles/global-variables.scss';

.app_container{
    display: flex;
    height: 100%;
    min-height: 100%;
    .side_nav_container{
        flex: $side-nav-container-proportion;
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
        box-shadow: 6px 0 6px rgba(0,0,0,.1);
        z-index: 2;
        height: 100%;
        min-height: 100%;
        background-color: $side-nav-container-background-color;
    }
    .main_container{
        flex: $main-container-proportion;
        background-color: $main-container-background-color;
    }
}

// position: fixed;
//     top: 64px;
//     bottom: 0;
//     left: 0;
//     padding: 0;
//     min-width: 260px;
//     background-color: #fafafa;
//     box-shadow: 6px 0 6px rgba(0,0,0,.1);
	
// 	    border-right: 1px solid rgba(0,0,0,.12);